# Object files
*.o
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out
*.bin
*.iso

# ISO build directory
iso/

# hard disk image
disk.img

# filesystem mount
mnt/

# build directory
bin/
